# Yarn Integrity file
.yarn-integrity

# Bower dependency directory (https://bower.io/)
bower_components

# npm node
node_modules/
npm-debug.log
# Optional npm cache directory
.npm

# Mac OS
.DS_Store

# release folder and file
build/
build.zip
*.tgz

